---
- name: "Download moloch"
  get_url:
    url: https://files.molo.ch/builds/centos-{{ centos_version }}/moloch-{{ moloch_version }}.x86_64.rpm
    dest: /tmp/moloch-{{ moloch_version }}.x86_64.rpm
- name: "Install moloch requirements"
  package:
    name: "{{ moloch_redhat_reqs }}"
    state: present
